# ==== MySQL DB ====
DB_URL=jdbc:mysql://your-db-host:your-port/defaultdb?ssl-mode=REQUIRED
DB_USERNAME=your-db-username
DB_PASSWORD=your-db-password

# ==== Redis ====
REDIS_HOST=your-redis-host
REDIS_PORT=your-redis-port
REDIS_PASSWORD=your-redis-password


